


// GLOBALS
//==============================================================================================================

html{	
	min-height: 100%;
	position: relative;
	.bodyfontsize(18,18);
  -webkit-tap-highlight-color : rgba(0,0,0,0.1);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body{
  font-family: @serif;
  line-height: @leading;
  text-rendering: optimizeLegibility;
  color: @bodycolor;
  background-color: @body;
  
  @media screen and (min-width: @largequery) {
  	padding: 0 25%;
  }
}

a{
	text-decoration: none;
	//color: darken(@link, 2%);
	color: @link;
}

ul,
ol {
  list-style: none;
}

em{
  font-style: italic;
  font-weight: 400;
}

strong{
  font-weight: 700;
}

pre,
code{
	font-family: monospace;
}

// MEDIA RWD
//==============================================================================================================

img,
object,
embed {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}



// NON-STYLING GLOBAL BEHAVIOURS
//==============================================================================================================

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}