// SPAN WIDTHS
//==============================================================================================================

.l-span-small-1{
  width: 8.33%;
}

.l-span-small-2{
    width: 16.66%;
}

.l-span-small-3{
    width: 25%;
}

.l-span-small-4{
    width: 33.33%;
}

.l-span-small-5{
  width: 41.66%;
}

.l-span-small-6{
  width: 50%;
}

.l-span-small-7{
  width: 58.33%;
}

.l-span-small-8{
    width: 66.66%;
}

.l-span-small-9{
    width: 75%;
}

.l-span-small-10{
    width: 83.33%;
}

.l-span-small-11{
  width: 91.66%;
}

.l-span-small-12{
  float: none;
  width: 100%;
}



// SPAN PREFIXES
//==============================================================================================================

.l-pre-small-1{
  margin-left: 8.33%;
}

.l-pre-small-2{
  margin-left: 16.66%;
}

.l-pre-small-3{
  margin-left: 25%;
}

.l-pre-small-4{
  margin-left: 33.33%;
}

.l-pre-small-5{
  margin-left: 41.66%;
}

.l-pre-small-6{
  margin-left: 50%;
}

.l-pre-small-7{
  margin-left: 58.33%;
}

.l-pre-small-8{
  margin-left: 66.66%;
}

.l-pre-small-9{
  margin-left: 75%;
}

.l-pre-small-10{
    margin-left: 83.33%;
}

.l-pre-small-11{
  margin-left: 91.66%;
}



// BLOCK ORDER
//==============================================================================================================

.l-blockorder{
	display: table;
	caption-side: top;
	width: 100%;
}

.l-blockorder-small{
	display: table-caption;
}