@media screen and (min-width: @mediumquery) {

	// SPAN WIDTHS
	//==============================================================================================================
	
	// RESET FLOAT
	.l-span-S12{
  	float: left;
	}
	
	.l-span-M1{
	  width: 8.33%;
	}
	
	.l-span-M2{
	    width: 16.66%;
	}
	
	.l-span-M3{
	    width: 25%;
	}
	
	.l-span-M4{
	    width: 33.33%;
	}
	
	.l-span-M5{
	  width: 41.66%;
	}
	
	.l-span-M6{
	  width: 50%;
	}
	
	.l-span-M7{
	  width: 58.33%;
	}
	
	.l-span-M8{
	    width: 66.66%;
	}
	
	.l-span-M9{
	    width: 75%;
	}
	
	.l-span-M10{
	    width: 83.33%;
	}
	
	.l-span-M11{
	  width: 91.66%;
	}
	
	.l-span-M12{
	  float: none;
	  width: 100%;
	}
	
	
	
	// SPAN PREFIXES
	//==============================================================================================================
	
	.l-pre-M1{
	  margin-left: 8.33%;
	}
	
	.l-pre-M2{
	  margin-left: 16.66%;
	}
	
	.l-pre-M3{
	  margin-left: 25%;
	}
	
	.l-pre-M4{
	  margin-left: 33.33%;
	}
	
	.l-pre-M5{
	  margin-left: 41.66%;
	}
	
	.l-pre-M6{
	  margin-left: 50%;
	}
	
	.l-pre-M7{
	  margin-left: 58.33%;
	}
	
	.l-pre-M8{
	  margin-left: 66.66%;
	}
	
	.l-pre-M9{
	  margin-left: 75%;
	}
	
	.l-pre-M10{
	    margin-left: 83.33%;
	}
	
	.l-pre-M11{
	  margin-left: 91.66%;
	}
	
	// RESET BLOCK ORDER
	//==============================================================================================================
	
	.l-blockorder,
	.l-blockorder-small {
		display: block;
	}
}