



// HEADERS
//==============================================================================================================

.m-global-header{
	padding-top: @guttersmall;
	padding-bottom: @leading;
	color: #01242c;
	background: @link;
	
	a{
		color: white;
	}
}

#blogname{
	width: 100%;
	height: 2.125em;
	background: transparent url('img/logo-hires.png') no-repeat;
	background-size: 18.5em 2.125em;
}

/* Menu-items */

#menu-anchor{
	position: absolute;
	top: @guttersmall;
	right: @guttersmall;
	display: block;
	width: 4.615em;
	height: 4.615em;
	.rounded-corners(50%);
	z-index: 20;
	background: lighten(@link, 6%);
	
	@media screen and (min-width: @largequery) {
		display: none;
	}
}

.m-global-nav{
	background: @link;
}

.menu{
	
	.menu-item{
		position: relative;
		
		a{
			display: block;
			padding: 0.5em 0 0.5em;
			color: white;
			//border-bottom: 0.1875em solid white;
			//border-bottom: 1px solid darken(@link, 12%);
			//.box-shadow(0 1px lighten(@link, 5%));
			border-bottom: 0.1875em solid darken(@link, 4%);
		}
	}
	
	.parent:after{
		font-size: 1.333em; // 16px
		position: absolute;
		top: 0.65em;
		right: @guttersmall;
		color: white;
	}
	
	.parent.s-is-passive:after{
		content: '\29';
	}
	
	.sub-menu{
		display: none;
		margin: 0 @guttersmall;
		
		a{
			border-bottom: 1px dashed darken(@link, 15%);
			.box-shadow(none);
		}
		
		li:last-of-type > a{
			border-bottom: none;
		}
	}
}

.m-global-search{
	background: @bodylighten;
}

.archive .m-global-header{
	padding-bottom: 1.125em; //18px
}

.m-taxonomy-header{
	padding-bottom: 0.9375em; // 15px
	color: white;
	text-align: center;
	background: @link;
}

.m-article-header{
	margin-bottom: 0.5625em; // 9px
}



// LIST-MODULE
//==============================================================================================================

.m-listitem{
	padding-bottom: 1.125em; // 18px
	border-top: 0.1875em solid @bodylighten;
	
	a .t-medium{
		color: @bodycolor;
	}
	
	a p{
		color: lighten(@bodycolor, 7%);
	}
}

.m-listitem.has-thumb{
	position: relative;
	padding-bottom: 0;
	
	&:before{
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 10;
		pointer-events: none;
		background: @bodytransparent;
	}
	
	.m-entry{
		position: absolute;
		width: 100%;
		padding: 0 @guttersmall;
		bottom: @leading*2;
		z-index: 20;
	}
	
	a p{
		color: #000;
	}
}

/* Item type */

.item-type{
	position: relative;
	margin-left: 4.667em;
		
	&:before{
		display: block;
		font-size: 2em;
		position: absolute;
		top: -0.125em;
		left: -2.335em;
		width: 1.833em;
		height: 1.833em;
		.rounded-corners(50%);
		color: @body;
		background: white;
	}
}
	
.item-type.log:before{
	content: '\22';
	padding-top: 0.17em;
	padding-left: 0.4em;
}
	
.item-type.link:before{
	content: '\23';
	padding-top: 0.18em;
	padding-left: 0.45em;
}



// ARTICLE MODULES AND ELEMENTS
//==============================================================================================================

.m-the-content{
	
	.alignnone,
	.alignright,
	.alignleft {
		padding: @guttersmallhalf;
		background: @bodylighten;
		border-top: 1px solid white;
		.box-shadow(0 1px 3px rgba(0,0,0,0.07));
	}
	
	.alignright,
	.alignleft{
		width: 50%;
		height: auto;
	}
	
	.alignright{
		float: right;
		margin: 0 0 @guttersmallhalf @guttersmall;
	}
	
	.alignleft{
		float: left;
		margin: 0 @guttersmall @guttersmallhalf 0;
	}
}



// FOOTER MODULES AND ELEMENTS
//==============================================================================================================

.m-pagination{
	border-top: 0.375em solid @link;
	background: @bodylighten;
	
	.m-pagination-next{
		position: relative;
		float: right;
		padding: 0 3em 0.375em 1.5em;
		text-align: left;
		.rounded-corners(0 0 6px 6px);
		background: @link;
		
		&:after{
			content: '\29';
			display: block;
			position: absolute;
			font-size: 1.5em;
			top: -0.5em;
			right: 0.63em;
			font-family: 'icons-nth';
			color: white;
		}
	}
	
	a{
		display: block;
		width: auto;
		color: white;
	}
}

.m-global-footer{
	background: @bodylighten;
}



// TINY-TINY MODULES || HELPCLASSES
//==============================================================================================================

.m-divider{
	height: 0.1875em;
	margin: 1.125em 0; // 18px
	background: @bodylighten;
}

.ir{
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}