.m-global-header{
	padding-top: @guttersmall;
	padding-bottom: @leading;
	color: #01242c;
	background: @link;
	
	a{
		color: white;
	}
}

.m-global-nav{
	background: @bodylighten;
}

.m-global-search{
	background: @bodylighten;
}

#menu-anchor{
	position: absolute;
	top: @guttersmall;
	right: @guttersmall;
	display: block;
	width: 4.615em;
	height: 4.615em;
	.rounded-corners(50%);
	z-index: 20;
	background: lighten(@link, 6%);
	
	@media screen and (min-width: @largequery) {
		display: none;
	}
}

#blogname{
	width: 100%;
	height: 2.125em;
	background: transparent url('img/logo-hires.png') no-repeat;
	background-size: 18.5em 2.125em;
}

.m-listitem{
	padding-bottom: 1.125em; // 18px
	border-top: 0.1875em solid @bodylighten;
	
	&:nth-child(1){
		border-top: none;
	}
	
	a .t-medium{
		color: @bodycolor;
	}
	
	a p{
		color: lighten(@bodycolor, 7%);
	}
	
	&.has-thumb{
		padding-bottom: @gutterlarge;

		.t-medium{
			position: relative;
			z-index: 20;
			margin-top: -@guttersmall;
			.rounded-corners(2px 2px 0 0);
			background: @body;
		}
		
		figure{
			margin-right: -@guttersmall;
			margin-left: -@guttersmall;
			
			@media screen and (min-width: @mediumquery) {
				margin-right: -@guttermedium;
				margin-left: -@guttermedium;
			}
			
			@media screen and (min-width: @largequery) {
				margin-right: -@gutterlarge;
				margin-left: -@gutterlarge;
			}
		}
		
		[class*='category-']:before{
			left: -1.834em; // ajajaj
		}
	}
}

.has-thumb + .has-thumb{
	border-top: none;
}

[class*='category-']{
		position: relative;
		margin-left: 4.667em;
		
		&:before{
			content: ' \22';
			display: block;
			font-size: 2em;
			font-family: 'icons-nth';
			position: absolute;
			top: -0.125em;
			left: -2.335em;
			width: 1.833em;
			height: 1.833em;
			padding-top: 0.17em;
			padding-left: 0.26em;
			.rounded-corners(50%);
			color: @body;
			background: white;
		}
	}
	
	.category-lankar:before{
		content: "\23";
		padding-top: 0.18em;
		padding-left: 0.34em;
	}
	
	.category-dagsanteckningar{
		position: relative;
		margin-left: 0;
		
		&:before{
			content: '';
			display: none;
			background: transparent;
		}
	}

.m-article{
	
	.m-article-header{
		margin-bottom: 0.5625em; // 9px
	}
	
	.m-the-content{

		p{
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
		}
	}
}

.m-pagination{
	border-top: 0.375em solid @link;
	background: @bodylighten;
	
	.m-pagination-next{
		float: right;
		padding: 0 @guttermedium 0.375em @guttermedium;
		text-align: center;
		.rounded-corners(0 0 6px 6px);
		.gradient(darken(@link, 5%), darken(@link, 5%), @link)
	}
	
	a{
		display: block;
		width: auto;
		color: white;
	}
}

.m-global-footer{
	background: @bodylighten;
}