
// GLOBAL HEADER, HEADERS & HEADER-MODULES
//==============================================================================================================

.m-global-header{
	position: relative;
	z-index: 20;
	padding-top: @guttersmall;
	padding-bottom: @leading;
	color: darken(@linkdarken, 8%);
	background: @link;
	
	@media screen and (min-width: @largequery) {
		font-size: 88.89%;
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		height: 100%;
		padding-top: 0;
		//border-right: @guttersmallhalf solid @bodylighten;
		//border-top: @guttersmall solid darken(@link, 6%);
		padding-top: @leading;
		//padding-bottom: @leading*1.5;
		//background: @bodylighten;
	}
	
	@media screen and (min-width: @megaquery) {
		position: fixed;
		width: 23.5em;
		top: 0;
		.translate(-23.5em,0);
		height: 100%;
	}
}

.m-article-header{
	position: relative;
	//margin-top: 1.125em; // 18px
	padding-top: 1.125em; // 18px
	margin-bottom: 0.5625em; // 9px
	
	@media screen and (min-width: @mediumquery) {
		//margin-top: 2.25em; // 36px
		padding-top: 2.25em; // 36px
	}
	
	@media screen and (min-width: @largequery) {
		//margin-top: 4.5em; // 72px
		padding-top: 4.5em; // 72px
	}
	
	&.has-thumb{
		
		@media screen and (min-width: @mediumquery) {
			//margin-top: 1.875em; // 30px
			padding-top: 1.875em; // 30px;
		}
		
		@media screen and (min-width: @largequery) {
			//margin-top: 2.25em; // 36px
			padding-top: 3em; // 48px
		}
	}
}

.archive .m-global-header{
	padding-bottom: 1.125em; //18px
	
	@media screen and (min-width: @largequery) {
		padding-bottom: 0.9375em; //18px
	}
}

.m-taxonomy-header{
	padding-bottom: 0.9375em; // 15px
	color: white;
	text-align: center;
	background: @link;
	
	@media screen and (min-width: @mediumquery) {
		text-align: left;
	}
	
	@media screen and (min-width: @largequery) {
		padding-top: @guttersmall;
		padding-bottom: @leading;
		color: @bodycolor;
		background: @bodylighten;
	}
	
	&.willkommen-bei-uns{
		display: none;
		
		@media screen and (min-width: @largequery) {
			display: block;
			color: white;
		}
	}
}



// NAVIGATION
//============================================================================================================== 

#blogname{
	width: 100%;
	height: 2.125em;
	background: transparent url('img/logo-hires.png') no-repeat;
	background-size: 18.5em 2.125em;
}

.m-menu-button{
	position: absolute;
	.type-to-em(13,13);
	top: @guttersmall;
	right: @guttersmall;
	display: block;
	width: 4.615em;
	height: 4.615em;
	-webkit-perspective: 50em;
	-moz-perspective: 50em;
	
	@media screen and (min-width: @mediumquery) {
		top: 1.6em; // ca 24px
		right: 4.5em; // 72px
	}
	
	@media screen and (min-width: @largequery) {
		display: none;
	}
	
	.front,
	.back{
		position: absolute;
		width: inherit;
		height: inherit;
		font-size: 1em;
		font-family: @serif;
		text-align: center;
		font-style: italic;
		color: white;
		.rounded-corners(50%);
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-moz-transform-style: preserve-3d;
		-moz-backface-visibility: hidden;
	}
	
	.front{
		z-index: 50;
		-webkit-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		background: lighten(@link, 6%);
	}
	
	.back{
		z-index: 30;
		-webkit-transform: rotateX(-180deg);
		-moz-transform: rotateX(-180deg);
		background: darken(@link, 14%);
	}
}

.m-global-nav{
	position: absolute;
	z-index: 40;
	height: auto;
	width: 100%;
	overflow: auto;
	
	@media screen and (min-width: @largequery) {
		font-size: 88.89%;
		top: 9em; // 144px
		left: 0;
		width: 25%;
	}
}

.menu{
	.translate(0,0);
	
	.menu-item{
		position: relative;
		
		a{
			display: block;
			padding: 0.5em 0 0.5em;
			color: white;
			border-bottom: 1px solid @linkdarken;
			
			@media screen and (min-width: @largequery) {
				border-bottom-color: lighten(@linkdarken,3%); 
			}
		}
	}
	
	.parent:after{
		position: absolute;
		font-size: 0.625em;
		top: 1.2em;
		right: 0.2em;
		color: white;
		pointer-events: none;
	}
	
	.parent.s-is-passive:after{
		content: '\f067';
	}
	
	.sub-menu{
		display: none;
		
		a{
			font-family: @serif;
			text-transform: none;
			font-weight: normal;
			font-style: italic;
			border-bottom: 1px dashed darken(@link, 3%);
			
			@media screen and (min-width: @largequery) {
				border-bottom-color: lighten(@link, 15%);
			}
		}
	}
	
	.is-last a{
		border-bottom: none;
	}
}



// SEARCH
//============================================================================================================== 

.m-global-search{
	position: relative;
	margin: @leading 0;
	
	&:before{
		position: absolute;
		top: 0.373em; // around 6px
		left: @guttersmall;
		z-index: 10;
		content: '\f002';
		color: @linkdarken;
		pointer-events: none;
		
		@media screen and (min-width: @largequery) {
			display: none;
		}
	}
	
	.m-form-input{
		width: 100%;
		padding-left: 3em;
		color: @linkdarken;
		.rounded-corners(0);
		background: @link;
		
		@media screen and (min-width: @largequery) {
			padding-left: @guttersmall;
			color: darken(@linkdarken, 8%);
			background: lighten(@link, 5%);
		}
	}
	
	.m-button{
		position: absolute;
		right: 0;
		.rounded-corners(0);
		background: darken(@linktransparent, 14%);
		
		@media screen and (min-width: @largequery) {
			text-align: center;
			background: @link;
		}
	}
}

.search-term{
	color: white;
	background: @accentsecondary;
}

.m-excerpt{
	.type-to-em(14,21);
	margin-top: 0.429em;
}



// EDITABLE ASIDE
//============================================================================================================== 

.m-editable-aside{
	display: none;
	
	@media screen and (min-width: @largequery) {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 70;
		width: 25%;
		min-height: 100%;
		.translate(0,0);
		font-size: 88.89%;
		padding-top: 1.875em;
		padding-bottom: 1.875em;
		color: darken(@linkdarken, 9%);
		background: lighten(@link, 4%);
		.box-shadow (0.08em 0 0.13em rgba(0,0,0,0.2));
	}
	
	.t-medium{
		padding-bottom: 0.571em; // 12px
		border-bottom: 1px solid lighten(@linkdarken, 5%);
		margin-bottom: 0.571em; // 24px
		text-shadow: 0 1px 0 rgba(255,255,255,0.22);
	}
	
	.m-toggle-editable-btn{
		display: block;
		position: absolute;
		top: @guttersmall;
		right: @guttersmall;
		font-size: 0.875em;
		
		&:before{
			display: block;
			position: absolute;
			z-index: 100;
			content: "\f00d";
		}
	}
	
	.m-editable-list {
		.type-to-em(14,21);
		
		&.user-notes{
			list-style-type: disc;
			list-style-position: outside;
		}
		
		li{
			margin-bottom: 1.286em; // 18px
			font-style: italic;
		}
	}
	
	a{
		font-family: @serif;
		font-style: italic;
		font-weight: normal;
		color: white;
	}
	
	.m-button{
		width: 100%;
		margin-bottom: 2*@leading;
		background: lighten(@link, 5%);
	}
}



// LIST-MODULE
//==============================================================================================================

.m-listitem{
	padding-bottom: 1.125em; // 18px
	border-top: 0.1875em solid @bodylighten;
	
	@media screen and (min-width: @mediumquery) {
		padding-bottom: 1.3125em; // 21px
	}
	
	&:nth-of-type(1){
		border-top: none;	
	}
	
	a .t-medium{
		color: @bodycolor;
	}
	
	a p{
		color: lighten(@bodycolor, 7%);
	}
}

.m-listitem.has-thumb{
	position: relative;
	min-height: 10.75em;
	padding-bottom: 0;
	
	.m-listitem-thumbnail{
		opacity: 0.2;
	}
	
	.m-entry{
		position: absolute;
		width: 100%;
		padding: 0 @guttersmall;
		bottom: @leading*2;
		z-index: 10;
		
		@media screen and (min-width: @mediumquery) {
			padding: 0 3.75em; // 60px
		}
		
		@media screen and (min-width: @largequery) {
			bottom: 25%;
			padding: 0 @gutterlarge;
		}
	}
	
	a p{
		color: #000;
	}
}

/* Item type */

.item-type{
	position: relative;
	margin-left: 4.667em;
		
	&:before{
		display: block;
		font-size: 2em;
		position: absolute;
		top: -0.125em;
		left: -2.335em;
		width: 1.833em;
		height: 1.833em;
		.rounded-corners(50%);
		color: @body;
		background: white;
	}
	
	&.link:before{
		content: '\f0c1';
		padding-top: 0.25em;
		padding-left: 0.46em;
		
		@media screen and (min-width: @largequery) {
			padding-top: 0.2em;
		}
	}
}



// ARTICLE MODULES AND ELEMENTS
//==============================================================================================================

.m-article{
	
	@media screen and (min-width: @largequery) {
		position: relative;
		margin: 0 2.25em;
	}
	
	#addBookmark{
		display: none;
	
		@media screen and (min-width: @largequery) {
			display: block;
			position: absolute;
			right: @gutterlarge;
			top: 0;
			z-index: 10;
			width: 3em;
			height: 3em;
			text-indent: -9999px;
			//.rounded-corners(0 0 3px 3px);
			//border-top: 1px solid lighten(@link, 3%);
			//background: white;
			//.box-shadow (0 0 0.13em rgba(0,0,0,0.3));
		}
		
		&:before{
			display: block;
			position: absolute;
			z-index: 20;
			//left: 0.333em; // 12px
			top: 0.167em; // 6px
			//top: 0;
			right: 0;
			content: "\f02e";
			font-size: 3em; // 48px
			color: @link;
			text-indent: 0;
		}
	}
}

.m-article-figure {
	
	@media screen and (min-width: @largequery) {
		margin: 0 -2.25em;
	}
}

.m-article-meta .item-type{

	@media screen and (min-width: @megaquery) {
		margin: 1.333em 0 0 0;
		//padding-right: 4.5em + 3.333em; // 72 + 40px
		line-height: 3em; // 36px
		text-align: right;
		color: lighten(@bodycolor,60%);
	
		
		&:before{	
			display: none;
			font-size: 3em; // 48px
			//top: -0.25em;
			top: -2.3em;
			left: auto;
			right: 0;
			width: 1.5em;
			height: 1.5em;
			text-align: center;
		}
		
		&.link:before{
			padding-top: 0.32em;
    	padding-left: 0.05em;
		}

	}
}

.m-resources,
.m-related{
	padding-bottom: @leading;
	
	@media screen and (min-width: @mediumquery) {
		padding-bottom: 1.875em;
	}
	
	p{
		margin-bottom: 1.5em;
		
		@media screen and (min-width: @megaquery) {
			line-height: 2em;
			margin-bottom: 2em;
		}
		
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.m-resources{
	@media screen and (min-width: @megaquery) {
		text-align: right;
		color: lighten(@bodycolor,60%);
	}
}

.yarpp-related{

	@media screen and (min-width: @largequery) {
		margin: 0 -2.25em;
		//border-top: 0.1875em solid @bodylighten;
		//background: darken(@body, 3%);
		background: @bodylighten;
	}
}

.m-related{
	padding-top: @leading;
	background: darken(@body, 3%);
	
	@media screen and (min-width: @mediumquery) {
		padding-top: 1.6875em; // 24px
	}
	
	@media screen and (min-width: @largequery) {
		margin-right: 2.25em;
		margin-left: 2.25em;
		background: none;
	}
	
	p{
		.type-to-em(12,18);
	}
	
	a{
		font-style: italic;
	}
}

.m-the-content{
	
	img,
	.wp-caption {
		margin-bottom: @guttersmall;
		padding: @guttersmallhalf;
		border-top: 1px solid white;
		background: @bodylighten;
		.box-shadow(0 1px 3px rgba(0,0,0,0.07));
	}
	
	.wp-caption img{
		margin: 0;
		padding: 0;
		border-top: none;
		background: none;
		.box-shadow(none);
	}
	
	.wp-caption-text{
		.type-to-em(12,18);
		margin-bottom: 0;
		padding: @guttersmall;
		font-style: italic;
		text-align: center;
		color: #666;
		background: @bodylighten;
		
		&:before{
			content: '\2014';
			display: block;
			text-align: center;
			color: @accentsecondary;
		}
	}
	
	.alignright,
	.alignleft{
		width: 49%;
		height: auto;
	}
	
	.alignright{
		float: right;
		margin: 0 0 @guttersmallhalf @guttersmall;
	}
	
	.alignleft{
		float: left;
		margin: 0 @guttersmall @guttersmallhalf 0;
	}
	
	.gallery {
		
		.alignleft{
			float: none;
			width: 100%;
			margin: 0 0 @guttersmall 0;
		}
		
		@media screen and (min-width: @mediumquery) {
		
			.alignleft{
				float: left;
				width: 48%;
				margin-right: 2%;
				margin-bottom: 2%;
			}
			
			&:nth-of-type(odd) .alignleft{
				margin-right: 2%;
				margin-bottom: 4%;
			}
			
			&:nth-of-type(even) .alignleft{
				margin-right: 0;
				margin-left: 2%;
				margin-bottom: 4%;
			}
		
		}
	}
		
	blockquote{
		padding: 0 @guttersmall;
		border-left: 0.1875em solid @accentsecondary;
		
		p{
			.type-to-em(12,18);
			font-style: italic;
		}	
		
		p + p{
			font-style: normal;
		}
		
		a{
			font-style: italic;
		}

		@media screen and (min-width: @mediumquery) {
			margin: 3em 0;
			padding: 0 2.25em; // 36px
			//background: darken(@body, 2%);

			
			p{
				.type-to-em(18,27);
				color: #000; 
			}
			
			p + p{
				.type-to-em(12,18);
				margin-bottom: 0;
			}
		}
	}
}



// 404
//==============================================================================================================

.error404{
	position: relative;
	background: @link;

	.msg404{
		position: relative;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		background: @link url(img/computersaysno-heavy.jpg) no-repeat center bottom;
		background-size: cover;
		
		@media screen and (min-width: @mediumquery) {
			padding-top: 110%;
		}
		
		.cough{
			position: absolute;
			bottom: 3.1em;
			left: 0.5em; // 12px
			margin: 0;
			color: white;
			
			@media screen and (min-width: @mediumquery) {
				font-size: 3em;
				left: 1.5em;
				bottom: 33%;
			}
		}
	}
	
	.error404-paragraph{
		position: absolute;
		width: 100%;
		bottom: 2.5em;
		.type-to-em(12,18);
		padding: 0 1em; // 12px
		font-style: italic;
		color: @accentsecondary;
		
		@media screen and (min-width: @mediumquery) {
			padding-right: 6em; // 72px
			padding-left: 6em; 
			bottom: 22%;
		}
		
		a{
			color: @link;
			font-style: inherit;
		}
	}
}



// FOOTER MODULES AND ELEMENTS
//==============================================================================================================

.m-article-footer{
	margin-bottom: @guttersmall;
}

.m-pagination{
	background: darken(@link, 14%);
	
	@media screen and (min-width: @largequery) {
		background: @bodylighten;
	}
	
	a{
		display: block;
		width: auto;
		color: white;
	}
}

.m-global-footer{
	padding-top: @leading;
	color: white;
	background: darken(@link, 14%);
	
	@media screen and (min-width: @mediumquery) {
		padding-top: 1.875em;
	}
	
	@media screen and (min-width: @largequery) {
		font-size: 88.89%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 25%;
		height: 100%;
		color: @bodycolor;
		background: darken(@body, 10%);
	}
	
	a{
		color: lighten(@link,6%);
		
		@media screen and (min-width: @largequery) {
			color: white;
		}
		
		&.t-medium{
			display: block;
			margin-bottom: @guttersmall;
		}
	}
	
	p{
		position: relative;
		.type-to-em(14,21);
		margin-bottom: 1.286em; // 18px
		
		a{
			font-style: italic;
			
			@media screen and (min-width: @largequery) {
				font-style: normal;
				color: @link;
			}
		}
	}
	
	.goodbye{ 
		margin-bottom: 2.25em;
		
		a{
			display: block;
			padding-top: 1.25em; // 15px
			border-top: 1px solid @linkdarken;
			.type-to-em(12,18);
			color: white;
			
			@media screen and (min-width: @largequery) {
				display: none;
			}
			
			&:before{
				display: inline-block;
				float: right;
				font-size: 1.333em;
				content: "\f106";
				
				@media screen and (min-width: @largequery) {
					display: none;		
				}
			}
		}
	}
	
	.follow:before{
		padding-right: 0.8571em;
	}
	
	.follow-twitter:before{
		content: "\f099";
	}
	
	.follow-readmill:before{
		content: "\e00a";
	}
}



// TINY-TINY MODULES || HELPCLASSES
//==============================================================================================================

.m-divider{
	height: 0.1875em;
	margin:  1.125em 0 1em; // 18px 16px
	background: white;
	
	@media screen and (min-width: @mediumquery) {
		margin:  1.5em 0 1.3125em; // 24px 21px
	}
	
	@media screen and (min-width: @largequery) {
		margin:  1.6875em 0 @leading; // 27px 24px
	}
}

.ir{
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}

.m-form-input,
.m-button{
	.type-to-em(12,12);
	height: 3em;// 36px
	padding: 0.1em @guttersmall 0 @guttersmall;
	.rounded-corners(3px);
}

.m-form-input{
	font-family: @serif;
	font-style: italic;
	background-color: white;
}

.m-button{
	color: white;
	text-transform: uppercase;
	background: @link;
}

.avatar{
	display: block;
	float: right;
	width: 5.25em; // 84px
	height: 5.25em;
	margin: 0 0 @guttersmall @guttermedium;
	.rounded-corners(50%);
	background: white url(img/avatar-s.jpg) center center; // bilden ska vara 84 x 84
	background-size: 5.25em;
	
	@media only screen and (-webkit-min-device-pixel-ratio: 2){
		//only screen and (   min--moz-device-pixel-ratio: 2),
		//only screen and (     -o-min-device-pixel-ratio: 2/1),
		//only screen and (        min-device-pixel-ratio: 2),
		//only screen and (                min-resolution: 192dpi),
		//only screen and (                min-resolution: 2dppx) { 
		background: white url(img/avatar-s-r.jpg) center center; // bilden ska vara 168 x 168
	}
	
	@media screen and (min-width: @mediumquery) {
		width: 6em; // 96px
		height: 6em;
		margin: 0 0 @guttermedium @gutterlarge;
		background: white url(img/avatar-m-r.jpg) center center; // bilden ska vara 216 x 216
		background-size: 6em;
	}
	
	@media screen and (min-width: @largequery) {
		margin: 0 0 @guttersmall @guttersmall;
	}
}

.title-symbol{
	font-size: 0.66em;
	display: inline-block;
	float: right;
	padding-top: 0.3em;
	color: darken(@body, 10%);
}

.notes{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 80;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 4.5em 4.5em 0;
	border-color: transparent darken(@body,20%) transparent transparent;
	-webkit-transform:rotate(360deg);
	background: none;
}