// Infinite loader

#infscr-loading{
	padding: @guttersmall;
	text-align: center;
	background: @bodylighten;
	
	@media screen and (min-width: @mediumquery) {
		padding: @guttermedium;
	}
	
	@media screen and (min-width: @largequery) {
		padding: @guttermedium @guttermedium @guttermedium @gutterlarge;
	}
	
	img{
		display: none !important;
	}
	
	em{
		.type-to-em(12,18);
	}
}