// Infinite loader

#infscr-loading{
	background: @link;
	
	@media screen and (min-width: @mediumquery) {
		padding: @guttermedium;
	}
	
	@media screen and (min-width: @largequery) {
		padding: @guttermedium @guttermedium @guttermedium @gutterlarge;
	}
	
	img{
		display: none !important;
	}
	
	em{
		.type-to-em(12,18);
	}
}