


// ADD HOOKS FOR JS-SCREEN DETECTION
//==============================================================================================================

body:after {
	content: 'smallscreen';
   	display: none;
   	
   	@media screen and (min-width: @mediumquery) {
   		content: 'mediumscreen';
   		display: none;
	}
	
	@media screen and (min-width: @largequery) {
		content: 'largescreen';
   		display: none;
	}
}



// HOVER STATES
//==============================================================================================================

// ACTIVE STATES
//==============================================================================================================

// PASSIVE STATES
//==============================================================================================================

// IS-HIDDEN
//==============================================================================================================

.m-index.s-is-hidden{
	display: none;
}