// FIND BASIC TYPORULES FOR << BODY, A, FORM-ELEMENTS, UL, OL, EM & STRONG >> IN BASE.LESS

// GLOBAL RULES
//==============================================================================================================

.t-xxlarge,
.t-xlarge,
.t-large,
.t-medium,
.m-media-description h2,
.m-article-singleContent h2,
.m-article-singleContent h3,
#content.widecolumn h2 {
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;

  	a{
    	font-weight: inherit;
  	}
}

p+p{
	//margin-top: @leading;
}



// FONTS
//==============================================================================================================

.example{

}



// TYPO-CLASSES
//==============================================================================================================

.t-xlarge {

}

.t-large{

}

.t-medium{

}

.t-small {
	
}


// CUSTOM TEXTTRANSFORMS
//==============================================================================================================

.m-example {
	text-transform: uppercase;
}



// TYPESETTINGS FOR SPECIFIC MODULES
//==============================================================================================================

.m-example{
	line-height: 999999999;
}