// FIND BASIC TYPORULES FOR << BODY, A, FORM-ELEMENTS, UL, OL, EM & STRONG >> IN BASE.LESS

// GLOBAL RULES
//==============================================================================================================

.t-large,
.t-medium,
.m-pagination-next {
  -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: bold;

  	a,
  	span{
    	font-weight: inherit;
  	}
}

p+p{
	//margin-top: @leading;
}



// FONTS
//==============================================================================================================

#menu-anchor,
.t-small,
.m-listitem p {
	font-family: @serif;
}



// TYPO-CLASSES
//==============================================================================================================

.t-xlarge {

}

.t-large{

}

.t-medium{
	.type-to-em(18,24);
}

.t-small {
	.type-to-em(12,18);
	font-style: italic;
}


// CUSTOM TEXTTRANSFORMS
//==============================================================================================================




// TYPESETTINGS FOR SPECIFIC MODULES
//==============================================================================================================

#menu-anchor{
	.type-to-em(13,60);
	text-align: center;
	font-style: italic;
}

.m-global-header .t-small{
	line-height: 2.8333em;
}

.m-listitem .t-medium{
	padding-top: 1.1666667em;
	margin-bottom: 0.375em;
}

.m-listitem p {
	.type-to-em(12,18);
	font-style: italic;
}

.m-listitem.has-thumb{
	.t-medium{
		padding-left: 0.6667em;
		padding-right: 0.6667em;
	}
	
	p{
		padding-left: 1em;
		padding-right: 1em; 
	}
	
}

.m-pagination-next{
	.type-to-em(12,36);
	text-transform: uppercase;
}