body.horizontal-guides{
	background: url('img/horizontal-guide.png');
}

body.vertical-guides{
	background: url('img/vertical-guide.png');
}

body.guides{
	background: url('img/guides.png');
}

body.horizontal-guides img,
body.vertical-guides img,
body.guides img{
	opacity: 0.1 !important;
}

.toggle-guides{
	display: block;
	position: fixed;
	right: 20px;
	top: 20px;
	opacity: 1;
	z-index: 200;
	border: none;
	background: #eee;
	padding: 10px;
	cursor: pointer;
	border: 1px solid white;
	box-shadow: 0 0 5px #888;
}

body.horizontal-guides .toggle-guides,
body.vertical-guides .toggle-guides,
body.guides .toggle-guides,
.toggle-guides:hover{
	opacity: 1;
}